<table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container" style="text-align: center">
          <tr>
            <td>
              <p class="disclaimer__subtext">If you have any questions, please contact us at <a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>

<table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container" style="text-align: center">
          <tr>
            <td>
              <a href="https://www.instagram.com/canturi/">
                <img src="{{ 'insta-icon.png' | asset_url }}" alt="Instagram Social Link" width="20" height="20" style="margin-bottom: 14px">
              </a>
              <p class="disclaimer__subtext">
                <a href="{{ shop.url }}">
                  shop.canturi.com
                </a>
              </p>
            </td>
          </tr>
        </table>
      </center>
    </td>
  </tr>
</table>