<!-- Toast Notification -->

<section class="toast" id="toast">
  <p>For orders outside of Australia please Live Chat with us, email <a href="mailto:shop@canturi.com">shop@canturi.com</a> or call <a href="tel:+61292462888">+61 2 9246 2888</a></p>
  
  <a href="#" class="close">{% include 'icon-close-thin' %}</a>
</section>